*{
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden !important;
}
label{
    margin: 0px !important;
}
.btn-m{
    padding: 10px;
    font-size: 15px;
    font-weight: 900 !important;
}
.text-center{
    text-align: center;
}
.text-primary-m{
    color: #0072bf !important;
}
.btn-primary-gradient{
    width: 100%;
    background: linear-gradient(90deg, rgba(0,114,191,1) 37%, rgba(0,195,244,1) 100%);
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    transition: all 0.5s;
}
.btn-primary-gradient:hover{
    background: #0072bf;
}
.btn_eleccion_empleador{
    padding: 2%;
    font-size: 15px;
    font-weight: 900 !important;
    width: 100%;
    background: #b0b0b0bd;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    transition: all 0.5s;
}
.btn_eleccion_empleador:hover{
    background: #0072bf;
}
.btn_eleccion_empleador_active{
    background: #0072bf;
}
.section_login{
    /* background: #0072bf; */
}
.content_view_login{
    display: flex;
    width: 100%;
    height: 100vh;
    background: url('../../img/fondo_login4.png');
    /* background: linear-gradient(to right, hsla(0, 0%, 96%, 0.987) 21%, hsla(199, 74%, 51%, 0.692)), url('../../img/fondo_login4.png'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.sect_login{
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.content_login{
    background: #ffffffdf;
    border-radius: 5px;
    box-shadow: -1px 2px 3px 0px rgba(122, 122, 122, 0.415);
    width: 450px;
    padding: 2%;
}
.content_crear_alumno{
    background: #ffffffdf;
    border-radius: 5px;
    box-shadow: -1px 2px 3px 0px rgba(122, 122, 122, 0.415);
    width: 750px;
    padding: 2%;
}
.content_crear_empleador{
    background: #ffffffdf;
    border-radius: 5px;
    box-shadow: -1px 2px 3px 0px rgba(122, 122, 122, 0.415);
    width: 950px;
    padding: 2%;
}
@media screen and (max-width:770px){
    .flex_wrap{
        flex-wrap: wrap;
    }
    .content_responsive_empleador{
        width: 100%;
    }
    .content_crear_empleador{
        width: 100%;
    }
}
@media screen and (max-width:768px){
    .sect_responsive_login{
        justify-content: center;
        align-items: start;
        align-content: start;
    }
}
.content_titulo_login{
    position: relative;
    text-align: center;
}
.content_titulo_login img{
    width: 100px;
}
.content_titulo_login span{
    color: #0072bf;
    font-weight: 900;
    border: 2px solid #0072bf;
    border-radius: 20px;
    padding: 2px 10px;
}
.content_titulo_login .title_{
    margin: 10px 0px;
    color: #0072bf;
    font-weight: 900;
}
.content_titulo_login p{
    color: rgba(0,195,244,1);
}
.access_administrador{
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
}
.form-control-m{
    width: 100% !important;
    border: 1px solid #f1f1f1 !important;
    padding: 10px !important;
    border-radius: 4px !important;
    outline: none !important;
}
.form-control-m:focus{
    width: 100%;
    border: 1px solid #2f7ca2 !important;
}
.section_page_login{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.section_page_login a{
    width: 39%;
    text-align: center;
    /* background: #f1f1f1; */
    padding: 5%;
    color: #b0b0b0bd;
    text-decoration: none;
    font-weight: 700 !important;
    border-bottom: 2px solid #b0b0b0bd;
    transition: all 0.3s;
}
.section_page_login a:hover{
    width: 39%;
    text-align: center;
    /* background: #f1f1f1; */
    padding: 5%;
    color: #0072bf;
    text-decoration: none;
    font-weight: 700;
    border-bottom: 2px solid #0072bf;
}
.active-line-bottom{
    color: #0072bf !important;
    border-bottom: 2px solid #0072bf !important;
}
.control-password{
    display: flex;
    position: relative;
}
.control-password a{
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1;
    border-radius: 4px;
    text-decoration: none;
    color: #0072bf;
    width: 40px;
    height: 34.5px;
}
.control-password a >i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}